[Unit]
Description=PowerTunnel
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/$USER/PowerTunnel
Environment="PATH=/home/$USER/PowerTunnel"
ExecStart=sudo java -jar /home/$USER/PowerTunnel/PowerTunnel.jar --start
ExecReload=/bin/kill -s HUP $MAINPID
RestartSec=5

[Install]
WantedBy=multi-user.target
