[Unit]
Description=PowerTunnel
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/$USER/PowerTunnel
Environment="PATH=/home/$USER/PowerTunnel"
ExecStart=/home/$USER/jdk8u472-b08-jre/bin/java -jar /home/$USER/PowerTunnel/PowerTunnel.jar --start --minimized
ExecReload=/bin/kill -s HUP $MAINPID
RestartSec=5

[Install]
WantedBy=multi-user.target
